[submodule "mpv"]
	path = mpv
	url = https://github.com/mpv-player/mpv.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "homebrew"]
	path = homebrew
	url = https://github.com/Homebrew/brew
